* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

#page {
    width: 810px;
    max-width: 820px;
    margin: 0 auto;
    padding: 10px;
}

body {
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    background: url(../images/300771.jpg) center center no-repeat;
    background-size:cover;
    min-height: 100vh;
    color: aliceblue;
    padding-bottom: 60px;
}

#search {
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    cursor: pointer;
}

.search-type {
    display: flex;
}

.search-type-button {
    padding: 2px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;

}

.search-type-button.active {
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

.search-input:hover {
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, .5);
}

.search-input {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, .5);
    margin-top: 30px;
    border-radius: 5px;
    overflow: hidden;
    /* width: fit-content; */
}

.search-input .icon {
    position: absolute;
    right: 5px;
    top: 9px;
    z-index: 1;
    cursor: pointer;
}

/* .search-input > input:focus {
       width: calc(100vh - 40px);
    } */

.search-input>input {
    width: 400px;
    padding: 0 20px 0 10px;
    line-height: 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: all .3s;

}



.website .list h2 {
    color: #fff;
    font-size: 32px;
}
.website .list h2 .icon-delete{
    display: none;

}
.setting .website .list h2 .icon-delete{
    display: inline;

}
.website .panel {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 405px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.5);
    min-height: 20px;


}

.website .item {
    margin: 30px 0;
}


.website .tag {
    padding: 2px 10px;
    border-radius: 5px;
    margin: 10px 10px;
    position: relative;
}

.website .tag:nth-child(4n+1) {
    background-color: #ffbdf2;
}

.website .tag:nth-child(4n+2) {
    background-color: #159f68;
}

.website .tag:nth-child(4n+3) {
    background-color: bisque;
}

.website .tag:nth-child(4n+4) {
    background-color: rgb(32, 85, 127);
}

#setting {
    position: fixed;
    top: 30px;
    left: 30px;
    color: #fff;

}

#setting .icon {
    width: 30px;
    height: 30px;
}

.plus {
    margin-top: 30px;
}

.plus .icon {
    width: 30px;
    height: 30px;
    color: #fff;
}

body.preview .icon-back {
    display: none;
}

body.preview .plus {
    display: none;
}

body.preview .icon-setting {
    display: block;
}

body.preview .icon-editor {
    display: none;
}

body.preview .icon-add {
    display: none;
}

body.preview .panel .icon-delete_fill {
    display: none;
}

body.setting .panel .icon-delete_fill  {
    position: absolute;
    top: -19px;;
    left:8px;
    background-color: transparent;
}
body.setting .icon-editor {
    display: inline-block;
    
}
body.setting .plus {
    position: absolute;
    bottom: -8px;
    left: calc(50% - 30px);
}

body.setting .icon-back {
    display: block;
}

body.setting .icon-setting {
    display: none;
}

body.setting .panel .icon-add {
    display: block;
}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -100vh);
    width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: all .7s;
}
.modal.show {
    opacity: 1;
    transform: translate(-50% , -50%);
}
.modal .field {
    margin: 10px 0;
}

.modal .field input {
    line-height: 20px;
    width: 100%;
}

.modal button {
    display: inline-block;
    padding: 10px;
    
    

}