* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
}

#page {
    width: 810px;
    max-width: 820px;
    margin: 0 auto;
    padding: 10px;
}

body {
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    background: url(../images/300771.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: aliceblue;
    padding-bottom: 60px;
}
#search {
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}

.search-type {
    display: flex;
}

.search-type-button {
    padding: 2px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
 
}
.search-input:hover {
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, .5);
}
.search-input {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, .5);
    margin-top: 30px;
    border-radius: 5px;
    overflow: hidden;
    /* width: fit-content; */
}

.search-input .icon {
    position: absolute;
    right: 5px;
    top: 9px;
    z-index: 1;
    cursor: pointer;
}

.search-input > input:focus {
       width: calc(100vh - 40px);
    }

.search-input > input {
    width: 400px;
    padding: 0 20px 0 10px;
    line-height: 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: all .3s;
  
}



.website .list h2 {
    color: #fff;
    font-size: 32px;
}

.website .panel {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 405px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.5);


}

.website .item {
    margin: 30px 0;
}


.website .tag {
    padding: 2px 10px;
    border-radius: 5px;
    margin: 10px 10px;
}

.website .tag:nth-child(4n+1) {
    background-color: #ffbdf2;
}

.website .tag:nth-child(4n+2) {
    background-color: #159f68;
}
.website .tag:nth-child(4n+3) {
    background-color: bisque;
}
.website .tag:nth-child(4n+4) {
    background-color: rgb(32, 85, 127);
}


